# Prediction Score Calculation

In [1]:
import pandas as pd
import numpy as np

In [2]:
def map_per_image(label, predictions):
    """Computes the precision score of one image.

    Parameters
    ----------
    label : string
            The true label of the image
    predictions : list
            A list of predicted elements (order does matter, 5 predictions allowed per image)

    Returns
    -------
    score : double
    """    
    try:
        return 1 / (predictions[:5].index(label) + 1)
    except ValueError:
        return 0.0

In [3]:
def map_per_set(labels, predictions):
    """Computes the average over multiple images.

    Parameters
    ----------
    labels : list
             A list of the true labels. (Only one true label per images allowed!)
    predictions : list of list
             A list of predicted elements (order does matter, 5 predictions allowed per image)

    Returns
    -------
    score : double
    """
    return np.mean([map_per_image(l, p) for l,p in zip(labels, predictions)])

In [4]:
groundtruth = pd.read_csv("subset_test.csv")

In [37]:
groundtruth.head(10)

   Unnamed: 0          Image         Id
0       10114  6657fc566.jpg  w_d573a68
1        6614  43610ee69.jpg  w_3fe5d56
2         488  04a973240.jpg  w_11ff425
3       17021  ab104061d.jpg  w_bbfce38
4        3543  2453dea33.jpg  w_16def42
5        7207  491d5c1af.jpg  w_53feb91
6       25036  fc5c53caa.jpg  w_dd88965
7       23067  e880a0ac6.jpg  w_23a388d
8       19420  c3cb62502.jpg  w_76065ea
9       10974  6f65249d3.jpg  w_030e2cf

In [26]:
prediction = pd.read_csv('data/Predicted_labels_crop_1.csv')

In [38]:
prediction.head(10)

           Image                                                 Id
0  6657fc566.jpg  w_7d44896 w_88e4537 w_c6d918a w_a5b6ea7 w_dd88965
1  43610ee69.jpg  w_3fe5d56 w_89f6097 w_4c07458 w_343f088 w_191bce3
2  04a973240.jpg  w_11ff425 w_cd4cb49 w_9ba4a9a w_9438119 w_1f0cf0a
3  ab104061d.jpg  w_9c506f6 w_9d86594 w_9cf0388 w_efbdcbc w_34ecf36
4  2453dea33.jpg  w_16def42 w_396c12b w_f0fe284 w_f787e93 w_5597026
5  491d5c1af.jpg  w_0369a5c w_53feb91 w_8c25681 w_9b5109b w_9490369
6  fc5c53caa.jpg  w_16b5050 w_8a6a8d5 w_d405854 w_dd88965 w_0887d9b
7  e880a0ac6.jpg  w_5645ed1 w_4bf625b w_700ebb4 w_f48451c w_e5978cf
8  c3cb62502.jpg  w_f0fe284 w_4bf625b w_3de579a w_ef83760 w_e2372d6
9  6f65249d3.jpg  w_5597026 w_7d44896 w_dd88965 w_e6450bc w_2d6bb89

In [28]:
truthlabels = list(groundtruth['Id'])

In [29]:
predictlabels = list(prediction['Id'])
predictlabels = [candidate.split() for candidate in predictlabels]

In [30]:
predictlabels[5]

['w_0369a5c', 'w_53feb91', 'w_8c25681', 'w_9b5109b', 'w_9490369']

In [31]:
map_per_set(truthlabels, predictlabels)

0.3818906376109766

Load the raw predicted probabilities and see the distribution.

In [52]:
prob_cropped_model = np.load('data/newwhales_scores.npy')

In [70]:
example =prob_cropped_model[17]
example[np.argsort(example)[-5:]]

array([0.03469342, 0.0391973 , 0.05077217, 0.05910869, 0.08134436],
      dtype=float32)