# Sample Selection
Because the numbers of images for each whale are skewly distributed, I decide to only train on a subset of images.

In [1]:
import numpy as np
import pandas as pd

In [2]:
alltrain = pd.read_csv("train.csv")

In [3]:
label_count = pd.DataFrame(alltrain['Id'].value_counts())

In [4]:
label_count.head()

             Id
new_whale  9664
w_23a388d    73
w_9b5109b    65
w_9c506f6    62
w_0369a5c    61

I am only interested in those whales that have at least 5 images.

In [5]:
target_labels = list(label_count[label_count['Id']>4].index)

In [6]:
target_labels.remove('new_whale')

In [7]:
len(target_labels)

805

In [8]:
subset = alltrain[alltrain['Id'].isin(target_labels)]

In [9]:
len(subset)

8258

In [47]:
subset.head()

            Image         Id
0   0000e88ab.jpg  w_f48451c
6   000a6daec.jpg  w_dd88965
8   0016b897a.jpg  w_64404ac
10  001cae55b.jpg  w_581ba42
16  00355ff28.jpg  w_cb622a2

Within the selected samples, I split them in 80% training set and 20% test set.

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
subset_train_image, subset_test_image, subset_train_Id, subset_test_Id = train_test_split(subset[['Image']],subset[['Id']], test_size = 0.2, random_state=30, stratify=subset[['Id']])

In [51]:
subset_train_image.head()

               Image
7574   4cc7c734b.jpg
2713   1bbd772ab.jpg
20049  c9d7494b1.jpg
24281  f4717d591.jpg
19875  c83dbf46a.jpg

In [53]:
subset_train = subset_train_image.join(subset_train_Id)

In [55]:
subset_test = subset_test_image.join(subset_test_Id)

In [56]:
len(subset_train)

6606

In [57]:
len(subset_test)

1652

In [58]:
subset_train.to_csv("subset_train.csv")

In [59]:
subset_test.to_csv("subset_test.csv")

In [2]:
test = pd.read_csv('subset_test.csv')

In [3]:
test.head()

   Unnamed: 0          Image         Id
0       10114  6657fc566.jpg  w_d573a68
1        6614  43610ee69.jpg  w_3fe5d56
2         488  04a973240.jpg  w_11ff425
3       17021  ab104061d.jpg  w_bbfce38
4        3543  2453dea33.jpg  w_16def42

In [4]:
test_data = pd.DataFrame(list(test['Image']), columns=['Image'])

In [5]:
test_data.head()

           Image
0  6657fc566.jpg
1  43610ee69.jpg
2  04a973240.jpg
3  ab104061d.jpg
4  2453dea33.jpg